## Rust build artifacts
target/
**/target/
__pycache__/
debug/
**/debug/
release/
**/release/
**/*.rs.bk
tests/com/
*.log
*.bak


## Test/bench artifacts
**/*.profraw
coverage/
criterion/

## Editor/OS files
.DS_Store
.idea/
.vscode/



